<!-- <mat-form-field appearance="outline">
      <mat-label>Enter Password</mat-label>

      <div class="par">
        <div>
          <input
            [type]="changetype ? 'password' : 'text'"
            formControlName="password"
            matInput
            placeholder="Password"
            
          />
        </div>
        <div>
          <mat-icon class="eye" (click)="eye()">{{ act }}</mat-icon>
        </div>
      </div>
     
      
      <mat-error *ngIf="f['password'].touched && f['password'].invalid">
        <mat-error *ngIf="f['password'].hasError('required')"
          >Password is required</mat-error
        >
        <mat-error
          *ngIf="
            !f['password'].hasError('required') &&
            f['password'].hasError('pattern')
          "
        >
          Password must contain atleast 1 capital,1 number and 1 special
          character!
        </mat-error> </mat-error
      ><br />
    </mat-form-field> -->


    